.containerBenefits{
    width: 100%;
    display: flex;
    align-items: center;
}

.widthContainerBenefits {
    width: 1200px;
    margin: auto;
}
.NpoBtn {
    font-family: "Montserrat", sans-serif;
    border-radius: 0;
    height: 50px;
    width: 200px;
    background-color: #034F7A;
    color: white;
    border: 0;
    font-size: 16px;
    display:block; margin: -200px auto
}
.joinUsDiv {
    margin-top: -100px;
    display: flex;
    justifyContent: flex-start;
}
.textBenefits {
    text-align: left;
}
.benefitsImg {
    display: block;
    margin-left: auto;
}
@media only screen and (max-width: 900px) {

    .benefitsImg {
        width: 350px;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .textBenefits {
        text-align: left;
    }
    .joinUsDiv {
        margin-top: 40px;
        display: inherit;
    }

}

