body{
    margin: 0;
}

.header {
    width: 100%;
    height: 600px;
    background-image: url("../images/waterBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 64px;
}
.top {
    font-size: 0px;
}
.headline {
    margin-top: 210px;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
}
.description {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}
.description em {
    color: #034F7A;
    font-style: normal;
}
.consultationBtn {
    margin-top: 80px;
    font-family: "Montserrat", sans-serif;
    border-radius: 0;
    height: 50px;
    width: 200px;
    background-color: #034F7A;
    color: white;
    border: 0;
    font-size: 16px;
}


@media only screen and (max-width: 750px) {


    .headline {
        font-size: 34px;
        margin-top: 100px;
    }
    .description {
        font-size: 16px;
    }
    .consultationBtn {
        font-size: 16px;
        margin-top: 60px;
    }
    .header {
        max-height: 5em;
    }

}