.TopHeader {
    width: 100%;
    height: 764px;
}
.HeaderBox {
    position: relative;
    height: 30%;
    width: 50%;
    min-width: 850px;
    max-width: 850px;
    top: 50%;
    padding: 50px;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
}
.BoxHeadline {
    font-size: 34px;
}
.BoxHeadline em {
    color: #034F7A;
    font-style: normal;
}
.BoxText em {
    color: #034F7A;
    font-style: normal;
}
.BoxText {
    font-size: 26px;
    margin-top: 50px;
}
@media only screen and (max-width: 900px) {

    .TopHeader {
        height: 289px;
    }
    .HeaderBox {
        min-width: 350px;
        height: 45%;
        padding: 10px;
    }
    .BoxHeadline {
        font-size: 15px;
    }
    .BoxText {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .TopHeader {
        height: 289px;
    }
    .HeaderBox {
        min-width: 260px;
        height: 35%;
        padding: 10px;
    }
    .BoxHeadline {
        font-size: 12px;
    }
    .BoxText {
        font-size: 10px;
        margin-top: 10px;
    }
}