
.buttonDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
}

.employeeCard {
    box-shadow: 2px 3px 9px 0px rgba(130,130,130,0.47);
    -webkit-box-shadow: 2px 3px 9px 0px rgba(130,130,130,0.47);
    -moz-box-shadow: 2px 3px 9px 0px rgba(130,130,130,0.47);
}