
.knowledge, .organization {
    margin-top: 200px;

    padding: 70px;
}

#head {
    color: #034f7a;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
}

#headline {
    margin: 50px;
    text-align: center;
    font-size: 20px;
    color: #034f7a;
    font-weight: bold;
    vertical-align: text-top;
}

#top {
    color: #034f7a;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
}





#image {
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
}

#imageText {
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
}