@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@400;500;700;900&display=swap');




* {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;

}

a{
    text-decoration: none;
}


