@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

.row {
    aspect-ratio: 5/4;
    background-color: #490374;
    max-width: 320px;
}

.MuiPickersStaticWrapper-staticWrapperRoot{
    width: auto;
    background-color: transparent;
}
.timeBoxes-container{
    padding-bottom: 2rem !important;
}

#btn {
    margin: 50px;
}

#availabilities {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    text-align: center;
}

.time-btn {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    width:60px;
    padding-block: .6rem;
}

body {
    background-color: #F2F2F2;
}

input {
    margin-top: 2rem !important;
}

/** {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;

}*/

a{
    text-decoration: none;
    color: #FFFFFF;
}
