.container {
    max-height: 999999px;
    max-width: 1440px;
    margin: auto auto 40px;
    width: 90%;
}
.image1 {
    background-image: url("../../images/bethechangeimg1.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 453px;
}
.section1 {
    width: 100%;
    background-color: rgb(3, 79, 122, 0.1);
    height: 453px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image2 {
    background-image: url("../../images/beTheChange2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 453px;
}
.section2 {
    width: 100%;
    background-color: rgb(3, 79, 122, 0.1);
    height: 453px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.text1 {
    text-align: left;
    margin-left: 45px;
    font-size: 16px;
    color: black;
}
.text2 {
    clear: right;
    text-align: right;
    margin-right: 45px;
}
.text1 em  {
    color: #034F7A;
    font-style: normal;
}
.text2 em  {
    color: #034F7A;
    font-style: normal;
}
.PhotoFindrImg {
    width: 394px;
    height: 82px;
    margin-top: 45px;
    margin-bottom: 90px;
    margin-left: auto;
    padding: 30px;
}
.KristianiaImg {
    width: 320px;
    height: 129px;
    margin-top: 45px;
    margin-left: 45px;
    margin-bottom: 90px;
}
@media only screen and (max-width: 900px) {
    .PhotoFindrImg {
        padding-top: 20px;
        display: block;
        margin: 0 auto 40px;
        width: 60%;
        float: none;
    }
    .KristianiaImg {
        padding-top: 20px;
        display: block;
        margin: 0 auto 40px;
        width: 60%;
    }
    .text1 {
        text-align: center;
        margin-left: 0;
    }
    .text2 {
        text-align: center;
        margin-right: 0;
    }
    .section1 {
        height: 300px;
    }
    .section2 {
        height: 300px;
    }
    .image1 {
        height: 300px;
    }
    .image2 {
        height: 300px;
    }
}

