.image1 {
    background-image: url("../../images/bethechangeimg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.text1 {
    width: 100%;
    background-color: rgb(3, 79, 122, 0.1);
    height: 450px;
}
.image2 {
    background-image: url("../../images/beTheChange2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.text2 {
    width: 100%;
    background-color: rgb(3, 79, 122, 0.1);
    height: 450px;
}

