.headlineText {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.buttonUnderHeadline {
    font-family: "Montserrat", sans-serif;
    border-radius: 0!important;
    height: 30px;
    width: 120px;
    background-color: #034F7A;
    color: white;
    border: 0;
    font-size: 16px;
    display:block; margin: 0 auto
}