.contactContainer {
    margin-top: 200px;
}

.contactHeader {
    margin-bottom: 50px;
}

.formInfo {
    margin-bottom: 15px;
}

.textHighlight{
    font-weight: 700;
    color: #034f7a;
}

.contactInfo {
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.contactInfoHover:hover{
    color: #034f7a !important;
}