.corporateHeader {
    width: 100%;
    height: 600px;
    background-image: url("../../images/CoporateMembersBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 64px;
}
.corporateHeader em {
    color: #034F7A;
    font-style: normal;
}