@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0 auto;  
}

main, footer {
  max-width: 1180px;
  margin: 0 auto;
}
  
.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  
  }
  .navbar {
    height: 90px;
    display: flex;
    position: relative;
    width: 100%;
    transition: 0.2s;
    font-family: "Montserrat";
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    max-width: 1180px;
  }
  
  .navbar.active {
    z-index: 998;
    transition: 0.2s;
      width: 100%;
    background: (255,255,255);
    box-shadow: 0px 20px 34px rgb(0 0 0 / 5%);
    backdrop-filter: blur(6px);
  } 
  

  
 
  .logo {
    width: 140px;
    height: auto;
    transition-duration: 0.2s;
  }
  
  .logo:hover {
    cursor: pointer;
    transform: scale(1.1)
  }
  .link-container {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    gap: 2em;
}

.links a{
    text-decoration: none;
    color: white;
}
.links a:hover {
    text-decoration: underline;

}

.strong {
    font-weight: 600;
    
}


.divider {
    border-right: 1px solid white;
}
  